body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f8fa;
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --primary-color: #1b31a8;
  --secondary-color: #0079ff;
  --white-color-25: #ffffff;
  --white-color-50: #f4f8fa;
  --white-color-75: #e9eef2;
  --white-color-100: #cbd5dc;
  --gray-color-25: #708797;
  --gray-color-50: #8a9ca9;
  --gray-color-75: #4d6475;
  --gray-color-100: #1e2a32;

  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;

  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 32px;

  --line-height-1: 16px;
  --line-height-2: 19px;
  --line-height-3: 21px;
  --line-height-4: 24px;

  --spacing-1: 4px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --spacing-5: 28px;
  --spacing-6: 32px;
  --spacing-7: 35px;
  --spacing-8: 40px;
  --spacing-9: 45px;
  --spacing-10: 48px;
  --spacing-11: 56px;
  --spacing-12: 64px;

  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-5: 32px;
}
